document {
    font-family: 'Raleway', sans-serif;
}

#page {
    background-color: #D3D3D3;
}

#navHeader .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.jumbotron {
    position: relative;
    left: 15%;
    width: 70%;
}

#about .jumbotron {
    background-color: rgba(0, 0, 0, 0.46);
    color: #FFF;
}

#portfolio .jumbotron {
    background-color: #26a69a;
}

#contact .jumbotron {
    background-color: rgba(0, 0, 0, 0.46);
    color: #FFF;
}

#navBottom {
    background-color: #26a69a;
}

#navHeader {
    background-color: #26a69a;
    margin: 0px;
}

    #navHeader a {
        color: #FFF;
        font-size: 24px;
        padding-right: 50px;
    }

#navigator {
    background-color: #26a69a;
}

#about .jumbotron h1 {
    border-bottom: solid;
}

#about .jumbotron p {
    display: inline-block;
}

#about .jumbotron img {
    width: 35%;
    border-radius: 50%;
}

#message {
    border: none;
    border-bottom: 1px #A0A0A0 solid;
}

#navBottom a {
    margin-left: 55px;
    border-radius: 50%;
    padding: 10px;
}

#linkedInImg img {
    height: 48px;
    position: relative;
    bottom: 8px;
}

#free-code-camp img {
    height: 32px;
}

#codepen-img svg {
    height: 36px;
    width: 36px;
}

#copy-foot p {
    text-align: right;
}
